<%inherit file='../base.html' />
<%! from django.shortcuts import reverse %>
<%def name="content()">
<%
from app.model.video import VideoType, FromType, NationalityType
%>
	
	<form class="form-horizontal edit-area add-video-area" id="video-edit-area" action="${reverse('external_video')}" method="POST">
		<label>名称</label>
		<div class="form-group">

					<div class="col-sm-10">
					  <input type="text" value="${video.name}" name="name" class="form-control"  placeholder="视频名称">
					</div>
		</div>
		
		<label>海报</label>
		<div class="form-group">
				<div class="col-sm-10">
				  <input type="text" value="${video.image}" name="image" class="form-control"  placeholder="海报">
				  <img src="${video.image}" style="width:200px" alt="">
				</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-10">
				<label for="">视频类型</label>
				<select class="form-control video-select" name="video_type">
					<option value="${VideoType(video.video_type).value}">${VideoType(video.video_type).label}</option>
					% for video_type in VideoType:
					<option value="${video_type.value}">${video_type.label}</option>
					% endfor
				</select>
			</div>
		</div>
		
		
		<div class="form-group">
			<div class="col-sm-10">
				<label for="">视频来源</label>
				<select class="form-control video-select" name="from_type">
					<option value="${FromType(video.from_type).value}">${FromType(video.from_type).label}</option>
					% for from_type in FromType:
						<option value="${from_type.value}">${from_type.label}</option>
					% endfor
				</select>
			</div>
		</div>
		
		
		<div class="form-group">
			<div class="col-sm-10">
				<label for="">视频国籍</label>
				<select class="form-control video-select" value="${NationalityType(video.nationality_type).label}" name="nationality_type">
					% for nationality_type in NationalityType:
						% if nationality_type != NationalityType('other'):
							<option value="${nationality_type.value}">${nationality_type.label}</option>
						% endif
					% endfor
				</select>
			</div>
		</div>
		
		<div class="form-group">
					<div class="col-sm-10">
					  <textarea name="info" class="form-control"  placeholder="简介">${video.info}</textarea>
					</div>
		</div>
		<input type="hidden" value = "${video.id}" name="video_id" id="">
		<button type="submit" class="btn btn-info">修改</button>

		
	</form>
	
</%def>