<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>${self.title()}</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=3,minmum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="/static/client/css/base.css" />
		${self.css()}
	</head>
	<body>
		<%!
			from django.shortcuts import reverse 
		%>
		<header>导航</header>
		<div class="base-content">
			${self.content()}
		</div>
		
		<footer>
			<ul>
				<li><a href="${reverse('client_ex_video')}">外链</a></li>
				<li><a href="${reverse('client_cus_video')}">内链</a></li>
				<li><a href="${reverse('client_auth')}">我的</a></li>

			</ul>
		</footer>
	</body>
<script src="/static/dashboard/js/jquery-1.12.4.min.js"></script>
${self.js()}
</html>
<%def name="title()"></%def>
<%def name="js()"></%def>
<%def name="css()"></%def>
<%def name="content()"></%def>